.overview {
    background: $color-bgn-overview;

    .overwiew-assetsList {
        float: left;
        width: 30rem;
    }
    
    .overwiew-fileOperations {
        display: flex;
        width: 100%;
        float: right;
    }
}