$color-bgn: #ffaf36;
$color-bgn-app: #a8a8a7;
$color-bgn-overview: #a8a8a7;

$white: #ddd;
$black: #333;

$portrait-width-thresh: 850px;

* {
  box-sizing: border-box;
  margin: 5;
  padding: 1;
}

body {
  margin: 0rem 0rem 0rem 0rem;
  color: $black;
  height: 100%;
    width: 100%;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

a:visited {
  color: $black;
}

.app,
.overview,
.home {
  display: flex;

  @media screen and (max-width: $portrait-width-thresh) {
    display: block !important;
  }
}

